<div class="row">
    <div class="col-sm-12 center-block">
        <div class="col-sm-12 profile-banner space-bottom">
            <div class="row space-bottom">
                <h1 class="text-center">{{ user.name }}</h1>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-default center-block">Change Password</button>
                </div>
                <div class="col-xs-12">
                    <button class="btn btn-default center-block">Sign Out</button>
                </div>
                <div class="col-xs-12">
                    <a href="/account/updateAccount">
                        <button class="btn btn-default center-block"><span class="fa fa-pencil"></span>Edit Profile</button>
                    </a>
                </div>
            </div>
        </div>

        {{#if user.cwid}}
            <div class="col-xs-12 space-bottom">
                <div class="row">
                    <label class="col-sm-6 text-right" for="CWID">Campus Wide ID</label>
                    <div id="CWID" class="col-sm-6 text-left">{{ user.cwid }}</div>
                </div>
                <div class="row">
                    <label class="col-sm-6 text-right" for="Major">Major</label>
                    <div id="Major" class="col-sm-6 text-left">{{ user.major }}</div>
                </div>
                <div class="row">
                    <label class="col-sm-6 text-right" for="SemesterOfEntry">Semester of Enrollment</label>
                    <div id="SemesterOfEntry" class="col-sm-6 text-left">{{ user.semester_of_entry }}</div>
                </div>
                <div class="row">
                    <label class="col-sm-6 text-right" for="GraduationDate">Graduation Date</label>
                    <div id="GraduationDate" class="col-sm-6 text-left">{{ user.d_o_g }}</div>
                </div>
                <div class="row">
                    <label class="col-sm-6 text-right" for="CWID">Cummulative GPA</label>
                    <div id="CWID" class="col-sm-6 text-left">{{ user.gpa }}</div>
                </div>
                <div class="row">
                    <label class="col-sm-6 text-right" for="CWID">Completed Credits</label>
                    <div id="CWID" class="col-sm-6 text-left">{{ user.current_credit_total }}</div>
                </div>
            </div>
        {{else}}
            <div class="text-muted text-center">No Content to Show<br>Update Your Profile!</div>
        {{/if}}
    </div>
</div>
