<div class="row">
    <div class="col-sm-12 center-block">
        <div class="col-sm-12 profile-banner space-bottom">
            <div class="row space-bottom">
                <h1 class="text-center">{{ user.name }}</h1>
            </div>

            <div class="row">
                <div class="buttons">
                    <form>
                    <button class="btn btn-default center-block" type="submit" formaction="/account/changePassword"><span class="fa fa-shield"></span> Change Password</button>
                    </form>
                </div>
                <div class="buttons">
                    <form>
                        <button class="btn btn-default center-block" type="submit" formaction="/account/updateAccount"><span class="fa fa-pencil"></span> Edit Profile</button>
                    </form>
                </div>
                <div class="buttons">
                    <form>
                    <button class="btn btn-default center-block" type="submit" formaction="/">Sign Out</button>
                    </form>
                </div>
            </div>
        </div>

        {{#if user.cwid}}
            <div class="col-xs-12 space-bottom">
                <div class="row">
                    <label class="col-sm-6 text-right" >Campus Wide ID</label>
                    <div id="CWID" class="col-sm-6 text-left">{{ user.cwid }}</div>
                </div>
                <div class="row">
                    <label class="col-sm-6 text-right" >Major</label>
                    <div id="Major" class="col-sm-6 text-left">{{ user.major }}</div>
                </div>
                <div class="row">
                    <label class="col-sm-6 text-right" >Semester of Enrollment</label>
                    <div id="SemesterOfEntry" class="col-sm-6 text-left">{{ user.semester_of_entry }}</div>
                </div>
                <div class="row">
                    <label class="col-sm-6 text-right" >Graduation Date</label>
                    <div id="GraduationDate" class="col-sm-6 text-left">{{ user.d_o_g }}</div>
                </div>
                <div class="row">
                    <label class="col-sm-6 text-right" >Cummulative GPA</label>
                    <div id="TotalGPA" class="col-sm-6 text-left">{{ user.gpa }}</div>
                </div>
                <div class="row">
                    <label class="col-sm-6 text-right" >Completed Credits</label>
                    <div id="TotalCredits" class="col-sm-6 text-left">{{ user.current_credit_total }}</div>
                </div>
            </div>
            <form method="POST">
                <h2 class="text-center space-bottom">Saved Schedules</h2>
                {{#if user.schedules}}
                    <select class="form-control space-bottom" value="{{ selectedSchedule }}" name="selectedSchedule" id="selectedSchedule">
                        {{#each user.schedules}}
                            <option value="{{ name }}">{{ name }}</option>
                        {{/each}}
                    </select>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default center-block">View Schedule</button>
                    </div>
                    {{#if schedule}}
                        <h3 class="text-center space-bottom">Schedule: {{ schedule.name }}</h3>
                        <div class="panel col-sm-12 embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="{{ schedule.url }}"></iframe>
                        </div>
                    {{else}}
                        <div class="text-muted text-center center-block">Select a schedule to view</div>
                    {{/if}}
                {{else}}
                    <div class="text-muted text-center">No saves schedules to show.<br>How about adding a schedule?</div>
                {{/if}}
            </form>
        {{else}}
            <div class="text-muted text-center">No Content to Show<br>Update Your Profile!</div>
        {{/if}}
    </div>
</div>
