<div class="row">
    <div class="col-sm-6 center-block">
        <div class="col-sm-12 login-banner">
            <div class="row">
                <h1 class="text-center space-bottom">Change Password</h1>
                <a class="text-center" href="/account">Back to Profile</a>
            </div>
        </div>
        <form class="space-bottom" method="post">
            <div class="form-group">
                <label for="oldPassword">Old Password</label>
                <input type="password" class="form-control" id="oldPassword" name="oldPassword" placeholder="Enter Old Password" value="{{ oldPassword }}">
            </div>
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Enter New Password" value="{{ newPassword }}">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm New Password" name="newPassword2" value="{{ newPassword2 }}">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default center-block">Submit</button>
            </div>


            {{#if error }}
                <div class="form-group">
                    <div class="alert alert-danger text-block">
                        {{ error }}
                    </div>
                </div>
            {{/if}}
            {{#if success }}
                <div class="form-group">
                    <div class="alert alert-success text-block">
                        {{ success }}
                    </div>
                </div>
            {{/if}}
        </form>
    </div>
</div>
